<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-flex align-items-start justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">All products, all categories, in stock and not in stock</h1>
    
        
    
    
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All products</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="checkAvailabilityDataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                          <th>ProductID</th>
                          <th>Product Name</th>
                          <th>Picture</th>
                          <th>Category</th>
                          <th>Brand</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Available</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody id="checkAvailabilityTableBody">
                        <!-- Product 1001 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>