<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Incoming Shipment</h1>

    <div class="row">

        <div class="col-lg-6">

            

            <!-- Explanation -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">How to use ?</h6>
                </div>
                <div class="card-body">
                    <p style="color: #4e73df;">If your product does not exist in the inventory, check the "NEW PRODUCT" on top of the form. 
                        That will take you to the other form that is created for the new products.
                    </p>
                    <p style="color: #4e73df;">It is not your responsibility to add the current inventory with the new shipment, just to input number of units
                        of product that had come in the shipment under your observation. Rest will be taken care of by the system.
                    </p>
                    <p style="color: #4e73df;">It is not your responsibility to add the current inventory with the new shipment, just to input number of units
                        of product that had come in the shipment under your observation. Rest will be taken care of by the system.
                    </p>
                    <strong style="text-align: center; color: #4e73df;">Maybe you are on the wrong page ?</strong>
                    <br><br>
                    <a href="#checkavailability" class="btn btn-google btn-block"><i class="fab fa-google fa-fw"></i>
                        Check Availability</a>
                    <a href="#outgoingshipment" class="btn btn-facebook btn-block"><i
                            class="fab fa-facebook-f fa-fw"></i> Outgoing Shipment</a>

                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Update or add a product</h6>
                </div>
                <div class="card-body">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="toggleNewProduct">
                        <label class="form-check-label" for="toggleNewProduct">
                            <strong style="color: #4e73df;">NEW PRODUCT</strong>
                            <br><br>
                        </label>
                    </div>

                    <!--Form for updating product-->
                    <form class="row g-3" id="stockForm">
                        
                        <div class="col-12">
                            <label for="productID" class="form-label">Product ID</label>
                            <input type="text" class="form-control" id="productID" name="productID" placeholder="ID of a product to be updated">
                            <br>
                        </div>
                        
                        <div class="col-12">
                            <label for="shipmentUnits" class="form-label">New Quantity</label>
                            <input type="text" class="form-control" id="newQuantity" name="newQuantity" placeholder="50">
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="reason" class="form-label">Reason for updating</label>
                            <input type="text" class="form-control" id="reason" name="reason" placeholder="Shipment from China">
                            <br>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                
                    <!-- Form for adding new product -->
                    <form class="row g-3" id="newProductForm" style="display: none;">
                        
                        
                        <div class="col-12">
                            <label for="name" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Galaxy S22">
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" id="category" name="category" placeholder="Smartphone">
                            <br>
                        </div>
                        
                        
                        <div class="col-12">
                            <label for="brand" class="form-label">Brand</label>
                            <input type="text" class="form-control" id="brand" name="brand" placeholder="Samsung">
                            <br>
                        </div>
                        
                        <div class="col-12">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" class="form-control" id="price" name="price" placeholder="999">
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="text" class="form-control" id="quantity" name="quantity" placeholder="50">
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="release_date" class="form-label">Release Date</label>
                            <input type="text" class="form-control" id="release_date" name="release_date" placeholder="19.9.2023.">
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="warranty_duration" class="form-label">Warranty Duration</label>
                            <input type="text" class="form-control" id="warranty_duration" name="warranty_duration" placeholder="3 years">
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Flaship Smartphone from Samsung...">
                            <br>
                        </div>

                        
                        
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" onclick="return validateNewProductForm()">Add Product</button>
                        </div>
                    </form>
            
                </div>
            </div>

        </div>

    </div>
    

    
</div>



<!-- Script for toggling between the two forms -->
<script>
    document.getElementById('toggleNewProduct').addEventListener('change', function() {
        if (this.checked) {
            
            
            document.getElementById('stockForm').style.display = 'none';
            document.getElementById('newProductForm').style.display = 'block';

                       

        } else {
            document.getElementById('newProductForm').style.display = 'none';
            document.getElementById('stockForm').style.display = 'block';
        }
    });
</script>

<!-- Script for updating products-->
<script>
    window.onload = function() {
        document.getElementById('stockForm').addEventListener('submit', function(event) {
            event.preventDefault();
    
            var id = document.getElementById('id');
            if (!id) {
                console.error('Error: id element not found');
                return;
            }
    
            var data = {
                // Add the fields of the product you want to update here
                // For example:
                // name: document.getElementById('name').value,
                // price: document.getElementById('price').value
                quantity: document.getElementById('quantity').value,
            };
    
            RestClient.put('products/' + id.value, data, function(response) {
                console.log('Product updated');
            }, function(jqXHR) {
                console.error('Error: ' + jqXHR.statusText);
            });
        });
    };
    </script>



