<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-flex align-items-start justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Inventory</h1>
    
        
    
        <a href="#incomingshipment" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Add product
        </a>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All products</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="inventoryDataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                          <th>ProductID</th>
                          <th>Product Name</th>
                          <th>Picture</th>
                          <th>Category</th>
                          <th>Brand</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>ReleaseDate</th>
                          <th>WarrantyDuration</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody id="productTableBody">
                        <!-- Product 1001 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
