<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Outgoing Shipment</h1>

    <div class="row">

        <div class="col-lg-6">

           

            <!-- Explanation -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">How to use ?</h6>
                </div>
                <div class="card-body">
                    <p style="color: #4e73df;">If you want to remove a product from the inventory, you can do so after checking the checkbox on top of the form. 
                        Different Form will open and it will allow you to remove your product.
                    </p>
                    <p style="color: #4e73df;">It is not your responsibility to subtract the current inventory with the new shipment, just to input number of units
                        of product that are abandoning the inventory. Rest will be taken care of by the system.
                    </p>
                    <p style="color: #4e73df;">It is not your responsibility to subtract the current inventory with the new shipment, just to input number of units
                      of product that are abandoning the inventory. Rest will be taken care of by the system.
                    </p>
                    <p style="color: #4e73df;">It is not your responsibility to subtract the current inventory with the new shipment, just to input number of units
                    of product that are abandoning the inventory. Rest will be taken care of by the system.
                    </p>
                    <strong style="text-align: center; color: #4e73df;">Maybe you are on the wrong page ?</strong>
                    <br><br>
                    <a href="#checkavailability" class="btn btn-google btn-block"><i class="fab fa-google fa-fw"></i>
                        Check Availability</a>
                    <a href="#incomingshipment" class="btn btn-facebook btn-block"><i
                            class="fab fa-facebook-f fa-fw"></i> Incoming Shipment</a>

                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Remove product </h6>
                </div>
                <div class="card-body">

                    

                   
                    <!-- Form to remove product-->
                    <form class="row g-3" id="removeProduct">
                        <div class="col-12">
                            <label for="id" class="form-label">Product ID</label>
                            <input type="" class="form-control" id="id" name="id">
                            <br>
                        </div>
                        
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="deleteButton" ">Remove</button>
                        </div>
                    </form>
                    
                </div>
            </div>

        </div>

    </div>
    

</div>

<script>
    document.getElementById('removeProduct').addEventListener('submit', function(event) {
        event.preventDefault();
    
        var id = document.getElementById('id').value;
    
        RestClient.delete('products/' + id, null, function(response) {
            console.log('Product deleted');
        }, function(jqXHR) {
            console.error('Error: ' + jqXHR.statusText);
        });
    });
    </script>







    

</body>
</html>