<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800" style="margin-left: 30px;">Smart TV 4K</h1>

    
        <div class="profile-detail">
          <img src="img/stv4k.png" alt="User Profile Picture" style="width: 38%; height: 38%; margin-left: 30px;">
          <img src="img/samsunglogo.jpeg" alt="IBU" style="text-align: right; width: 50%;height: 50%; margin-right: 40px;">

        </div>
        <div class="profile-content">
        
          <div class="profile-content">
            <h3>Samsung 4K UHD, Smart TV with voice control</h3>
            <BR></BR>
            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
              <strong><div style="font-size: large;">Product ID:</div></strong>
              <div style="font-size: large; text-align: right;">1001</div>
            </div>
            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
              <strong><div style="font-size: large;">Name:</div></strong>
              <div style="font-size: large; text-align: right;">Samsung Smart TV 4K</div>
            </div>
            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
                <strong><div style="font-size: large;">Category:</div></strong>
                <div style="font-size: large; text-align: right;">Television</div>
            </div>
            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
              <strong><div style="font-size: large;">Brand:</div></strong>
              <div style="font-size: large; text-align: right;">Samsung</div>
            </div>
            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
              <strong><div style="font-size: large;">Model:</div></strong>
              <div style="font-size: large; text-align: right;">QLED 55-inch</div>
            </div>
            
            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
                <strong><div style="font-size: large;">Price:</div></strong>
                <div style="font-size: large; text-align: right;">$799.99/</div>
            </div>
            
            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
                <strong><div style="font-size: large;">StockQuantity:</div></strong>
                <div style="font-size: large; text-align: right;">50</div>
            </div>

            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
                <strong><div style="font-size: large;">Release Date:</div></strong>
                <div style="font-size: large; text-align: right;">2023-01-15</div>
            </div>

            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
                <strong><div style="font-size: large;">Warranty:</div></strong>
                <div style="font-size: large; text-align: right;">2 years</div>
            </div>

            <div class="profile-detail" onmouseover="this.style.backgroundColor='rgba(160, 160, 160, 0.5)'" onmouseout="this.style.backgroundColor='#f8f8f8'">
                <strong><div style="font-size: large;">Description:</div></strong>
                <div style="font-size: large; text-align: right;">4K UHD, Smart TV with voice control</div>
            </div>

          </div>
        </div>
        


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Past Commits</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                              <th>Commit ID</th>  
                              <th>Committee</th>
                              <th>Product</th>
                              <th>Description</th>
                              <th>Picture</th>
                              <th>Date</th>
                              <th>Time</th>
                              <th>Reason for Updating</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Example 1 -->
                            <tr>
                              <td>131</td>
                              <td>John Doe</td>
                              <td>Smart TV 4K</td>
                              <td>4K UHD, Smart TV with voice control</td>
                              <td><img src="img/samsungtv4k.webp" alt="Smart TV 4K" width="70" height="70"></td>
                              <td>2024-03-10</td>
                              <td>09:30 AM</td>
                              <td>Adjusting stock after outgoing shipment</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>John Doe</td>
                                <td>Smart TV 4K</td>
                                <td>4K UHD, Smart TV with voice control</td>
                                <td><img src="img/samsungtv4k.webp" alt="Smart TV 4K" width="70" height="70"></td>
                                <td>2024-03-10</td>
                                <td>09:30 AM</td>
                                <td>Adjusting stock after receiving new shipment</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>John Doe</td>
                                <td>Smart TV 4K</td>
                                <td>4K UHD, Smart TV with voice control</td>
                                <td><img src="img/samsungtv4k.webp" alt="Smart TV 4K" width="70" height="70"></td>
                                <td>2024-03-10</td>
                                <td>09:30 AM</td>
                                <td>Adjusting stock after stock count</td>
                            </tr>  
                            <tr>
                                <td>1</td>
                                <td>John Doe</td>
                                <td>Smart TV 4K</td>
                                <td>4K UHD, Smart TV with voice control</td>
                                <td><img src="img/samsungtv4k.webp" alt="Smart TV 4K" width="70" height="70"></td>
                                <td>2024-03-10</td>
                                <td>09:30 AM</td>
                                <td>Adjusting stock after receiving new shipment</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
</div>