<div class="container">
   <div class="row">
      <div class="col-xl-8">
         <div class="card">
            <div class="card-body pb-4">
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <div class="text-center border-end">
                        <img src="/WEB/WEB - PROJECT ER/img/pp.webp" class="img-fluid avatar-xxl rounded-circle">
                        <h4 class="text-primary font-size-20 mt-3 mb-2">John Doe</h4>
                        
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="ms-3">
                        
                        <div class="row my-4">
                           <div class="col-md-12">
                              <div>
                                 <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>johndoe@ims.business.us</p>
                                 <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>418-955-4703</p>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="tab-content p-4">
               <div class="tab-pane active show" id="team-tab" role="tabpanel">
                  <h4 class="card-title text-primary mb-3" style="color: black;">Team</h4>


                  


                  
                  <div class="row">
                     
                     <div class="col-xl-4 col-md-3" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember2.avif" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Dino Mujkic</h5>
                                <p class="card-text">ID</p>
                                
                              </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
   </div>
</div>


<!--Show the email label for adding new members-->
<script>
   // JavaScript to toggle the form visibility
   document.getElementById('addMemberBtn').addEventListener('click', function() {
       var form = document.getElementById('addMembersForm');
       addMembersForm.style.display = addMembersForm.style.display = 'block';
   });
   
   // Function to send email (pseudo-code, actual implementation will vary)
   function sendEmail() {
       var email = document.getElementById('emailAddress').value;
       // Normally here you'd make an AJAX request or something similar
       // For demo purposes, let's just show a success message
       Swal.fire(
           'Success!',
           'Invitation sent to ' + email,
           'success'
       );
   }
</script>
   



</div>