<div class="container">
   <div class="row">
      <div class="col-xl-8">
         <div class="card">
            <div class="card-body pb-4">
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <div class="text-center border-end">
                        <img src="/WEB/WEB - PROJECT ER/img/pp.webp" class="img-fluid avatar-xxl rounded-circle">
                        <h4 class="text-primary font-size-20 mt-3 mb-2">John Doe</h4>
                        <h5 class="text-muted font-size-13 mb-0">Web Designer</h5>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="ms-3">
                        <div>
                           <h4 class="card-title mb-2">Biography</h4>
                           <p class="mb-0 text-muted">Hi I'm John,has been the industry's standard
                              dummy text To an English person alteration text.
                           </p>
                        </div>
                        <div class="row my-4">
                           <div class="col-md-12">
                              <div>
                                 <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>johndoe@ims.business.us</p>
                                 <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>418-955-4703</p>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="tab-content p-4">
               <div class="tab-pane active show" id="team-tab" role="tabpanel">
                  <h4 class="card-title mb-3">Team</h4>


                  <button class="btn btn-primary col-12 my-2" id="addMemberBtn">
                     <i class="fas fa-user-plus fa-sm text-white-50"></i> Add new member
                  </button>

                  <form class="row g-3 col-12 my-2" id="addMembersForm" style="display: none;">
                        
                     <div id="memberForm">
                        <label class="my-2" for="emailAddress">Email Address:</label>
                        <br>
                        <input class="col-8 my-2 py-1" type="email"  style="border-color:gainsboro; border-radius: 4px; border-style:solid;" id="emailAddress" required>
                        <button class="btn btn-primary col-8 my-2" style="text-align: center;" onclick="sendEmail()">Send Invitation</button>
                     </div>
                       
                  </form>


                  
                  <div class="row">
                     
                     
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember2.avif" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Dino Mujkic</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go to profile</a>
                              </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember1.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Zerina Devic</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go to profile</a>                              </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember3.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Nikola Rokvic</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go to profile</a>                              </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember4.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Marko Livaja</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go to profile</a>                              </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember5.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Semir Stilic</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go to profile</a>                              </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember6.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Rambo Amadeus</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go to profile</a>                              </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember7.webp" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Luka Bartula</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go to profile</a>                              </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember8.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Emina Peljto</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-md-6" id="team-1">
                        <div class="card">
                           <img src="/WEB/WEB - PROJECT ER/img/teammembers/teammember9.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Samira Zeba</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-4">
         <div class="card">
            <div class="card-body">
               <div class="pb-2">
                  <h4 class="card-title mb-3">About</h4>
                  <p>Hi I'm Jansh, has been the industry's standard dummy text To an English
                     person, it will seem like
                     simplified.
                  </p>
                  <ul class="ps-3 mb-0">
                     <li>it will seem like simplified.</li>
                     <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                  </ul>
               </div>
               <hr>
               <div class="pt-2">
                  <h4 class="card-title mb-4">My Skill</h4>
                  <div class="d-flex gap-2 flex-wrap">
                     <span class="badge badge-soft-secondary p-2">HTML</span>
                     <span class="badge badge-soft-secondary p-2">Bootstrap</span>
                     <span class="badge badge-soft-secondary p-2">Scss</span>
                     <span class="badge badge-soft-secondary p-2">Javascript</span>
                     <span class="badge badge-soft-secondary p-2">React</span>
                     <span class="badge badge-soft-secondary p-2">Angular</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="card-body">
               <div>
                  <h4 class="card-title mb-4">Personal Details</h4>
                  <div class="table-responsive">
                     <table class="table table-bordered mb-0">
                        <tbody>
                           <tr>
                              <th scope="row">Name</th>
                              <td>Jansh Wells</td>
                           </tr>
                           <tr>
                              <th scope="row">Location</th>
                              <td>California, United States</td>
                           </tr>
                           <tr>
                              <th scope="row">Language</th>
                              <td>English</td>
                           </tr>
                           <tr>
                              <th scope="row">Website</th>
                              <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="92f3f0f1a3a0d2e2e0fdf0fbf1bcf1fdff">[email&#160;protected]</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="card-body">
               <div>
                  <h4 class="card-title mb-4">Work Experince</h4>
                  <ul class="list-unstyled work-activity mb-0">
                     <li class="work-item" data-date="2020-21">
                        <h6 class="lh-base mb-0">ABCD Company</h6>
                        <p class="font-size-13 mb-2">Web Designer</p>
                        <p>To achieve this, it would be necessary to have uniform grammar, and more
                           common words.
                        </p>
                     </li>
                     <li class="work-item" data-date="2019-20">
                        <h6 class="lh-base mb-0">XYZ Company</h6>
                        <p class="font-size-13 mb-2">Graphic Designer</p>
                        <p class="mb-0">It will be as simple as occidental in fact, it will be
                           Occidental person, it will seem like simplified.
                        </p>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<!--Show the email label for adding new members-->
<script>
   // JavaScript to toggle the form visibility
   document.getElementById('addMemberBtn').addEventListener('click', function() {
       var form = document.getElementById('addMembersForm');
       addMembersForm.style.display = addMembersForm.style.display = 'block';
   });
   
   // Function to send email (pseudo-code, actual implementation will vary)
   function sendEmail() {
       var email = document.getElementById('emailAddress').value;
       // Normally here you'd make an AJAX request or something similar
       // For demo purposes, let's just show a success message
       Swal.fire(
           'Success!',
           'Invitation sent to ' + email,
           'success'
       );
   }
</script>
   



</div>